nav a {
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  float: left;
}

nav {
  background-color: black;
  overflow: hidden;
}

nav a:hover {
  color: tomato;
}

nav a:visited {
  color: royalblue;
}
