body {
  text-align: center;
}

div {
  width: 50px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  color: white;
}

#container {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* align-content: flex-start; */
}

#box1 {
  background-color: magenta;
  flex-grow: 1;
}

#box2 {
  height: 150px;
  flex-grow: 2;
  background-color: rgb(91, 198, 101);
}

#box3 {
  background-color: rgb(68, 64, 189);
}

#box4 {
  background-color: rgb(201, 119, 68);
}

#box5 {
  background-color: rgb(102, 30, 30);
}
