* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  background-color: white;
  color: black;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.btncontainer {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  background: blue;
  color: white;
  cursor: pointer;
}

.list div {
  display: flex;
  align-items: center;
}

.list ul {
  display: flex;
  gap: 25px;
}

.list ul li {
  font-weight: bold;
  list-style-type: none;
  padding: 10px;
}

img {
  width: 100%;
}

.imgtext {
  position: relative;
}

.imgtext > div {
  position: absolute;
  color: black;
  top: 50px;
  left: 50px;
  background: white;
  width: 41%;
  padding: 31px 68px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 24px;
  font-size: 20px;
}

.list ul li:hover {
  background-color: blueviolet;
}

body {
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0px 200px;
}

.footer li {
  list-style: none;
}
